<app-header></app-header>
<div class="parent">
  <div class="flex items-center mt-[10vh] py-10 flex-col child">
    <div>
      <!-- calendar -->
      <div class="flex gap-[1px]">
        <div
          (click)="getMovieByDate(date, i)"
          *ngFor="let date of dataDate; let i = index"
          [ngClass]="[
            selectedDate === i
              ? 'bg-orange-500 transition duration-300 ease-in-out p-2 hover:cursor-pointer'
              : 'bg-green-600 transition duration-300 ease-in-out p-2 hover:cursor-pointer'
          ]"
        >
          <span class="block text-white text-[14px] hover:cursor-pointer">{{
            date.dayOfWeek
          }}</span>
          <span class="text-white block text-[12px]"
            >{{ date.day }}-{{ date.month }}</span
          >
        </div>
      </div>
      <!-- calendar -->

      <!-- showTime -->
      <ng-container>
        <div class="flex my-[50px] flex-col gap-[30px]">
          <div class="flex gap-[30px] mb-[50px]">
            <img
              class="w-[300px] h-[400px] shadow-cus"
              [src]="getBase64Image(dataMovie.image)"
              alt="Hình ảnh"
            />
            <div class="flex flex-col gap-1">
              <h2
                class="text-white max-w-[70px] text-[25px] text-center p-1 bg-green-600"
              >
                2D SUB
              </h2>
              <h2
                class="text-red-500 text-center text-[25px] border border-red-500"
              >
                {{ dataMovie.ageLimited }}
              </h2>
            </div>
            <div class="flex flex-col gap-2">
              <h2 class="text-white">{{ dataMovie.name }}</h2>
              <h3 class="text-yellow-500">galaxy start 3.2</h3>
              <div class="show-times flex justify-between gap-2">
                <div class="flex gap-2 time">
                  <h2
                    *ngFor="let time of showTimeMovie"
                    (click)="
                      orderTicket(
                        time[0],
                        time[2].substring(0, 5) + ' ' + time[2].substring(9, 11)
                      )
                    "
                    class="hover:bg-green-600 hover:text-white text-25px hover:cursor-pointer transition duration-300 ease-in-out text-gray-500 py-2 px-1 bg-gray-900"
                  >
                    {{
                      time[2].substring(0, 5) + " " + time[2].substring(9, 11)
                    }}
                  </h2>
                  <!-- <h2
                    class="hover:bg-green-600 hover:text-white hover:cursor-pointer transition duration-300 ease-in-out text-gray-500 py-2 px-1 bg-gray-900"
                  >
                    19:50
                  </h2> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- showTime -->
    </div>

    <!-- event -->
    <div class="event"><app-event></app-event></div>
    <!-- event -->
  </div>
</div>

<app-footer></app-footer>
<!--  -->

<!-- <ng-container *ngIf="dateMovie.day !== 0">
  <div
    (click)="getMovieByDate(date)"
    [ngClass]="[
      dateMovie === date
        ? 'bg-orange-500 transition duration-300 ease-in-out p-2 hover:cursor-pointer'
        : 'bg-green-600 p-2 hover:cursor-pointer'
    ]"
    *ngFor="let date of dataDate"
  >
    <span class="block text-white text-[14px]">{{ date.dayOfWeek }}</span>
    <span class="text-white block text-[12px]"
      >{{ date.day }}-{{ date.month }}</span
    >
  </div>
</ng-container>

<ng-container *ngIf="dateMovie.day === 0">
  <div
    (click)="getMovieByDate(date)"
    [ngClass]="[
      i === 0
        ? 'bg-orange-500 transition duration-300 ease-in-out p-2 hover:cursor-pointer'
        : 'bg-green-600 p-2 hover:cursor-pointer'
    ]"
    *ngFor="let date of dataDate; let i = index"
  >
    <span class="block text-white text-[14px]">{{ date.dayOfWeek }}</span>
    <span class="text-white block text-[12px]"
      >{{ date.day }}-{{ date.month }}</span
    >
  </div>
</ng-container> -->
